Bot.json
{
  "name": "Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -48
      ],
      "id": "ede35996-c79b-496c-b397-b235e238d8a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -224,
        176
      ],
      "id": "54ea5dcf-fbd1-4f12-b381-b6cf044cf496",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "Lywnc5M5i133TYE8",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "grullpixelweb@gmail.com",
          "mode": "list",
          "cachedResultName": "grullpixelweb@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        176
      ],
      "id": "a3371b0d-cf30-4c75-8190-f52d78abb2f4",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NDhGaCxfgYnhUTnv",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "grullpixelweb@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        320,
        176
      ],
      "id": "b2921794-0808-4601-8d9b-3bf25a1ce139",
      "name": "Send a message in Gmail",
      "webhookId": "145e97d0-f906-4b0b-b70a-5c972bcff148",
      "credentials": {
        "gmailOAuth2": {
          "id": "xFoRlTyW6dz74HCq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -48
      ],
      "id": "3d18e776-3ae0-4f9d-bfc2-e3ba55da1271",
      "name": "Telegram Trigger",
      "webhookId": "477b0dee-5bed-4527-b57f-2d8813409c1b",
      "credentials": {
        "telegramApi": {
          "id": "VniIgYun4ifrP0yT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -48,
        176
      ],
      "id": "a67b22a5-8cc9-4e78-bbab-581f3dee0fdf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -48
      ],
      "id": "891eb9c6-5e60-4df3-bca4-c1a003623d30",
      "name": "Send a text message",
      "webhookId": "e7449068-648f-4724-85d2-06227da3f48c",
      "credentials": {
        "telegramApi": {
          "id": "VniIgYun4ifrP0yT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7b1dd524-5e5c-45cb-9e38-b55765302431",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "528da1bc73e0e715c96ab607304a1dcdc9861d2c2726fbf1ae5e92b178bac4b7"
  },
  "id": "fzqd3PBn3001AKLX",
  "tags": []
}